.instagram-container-wrapper{
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);

}
.instagram-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
 
}

.instagram-container .title {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: Inter;
  font-weight: 800;
}

.instagram-container .subtitle {
  font-size: 1rem;
  color: #00000099;
  margin-bottom: 30px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  gap: 20px;
  justify-content: center;
}

.instagram-item {
  display: flex;
  justify-content: center;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.instagram-button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-size: 13px;
  font-family: Inter;
  transition: 0.3s;
}
.instagram-button:hover {
  opacity: 0.8;
}
.instagram-icon {
  font-size: 1.2em;
}
@media (max-width: 768px) {
  .instagram-grid {
    grid-template-columns: 1fr;
  }
}
